.logo {
    width: 90%;
}

header {
    width: 90%;
}

.weight-update {
    height: 95px;
    width: 90%;
}

.weight-update__main-text {
}

.weight-update__update-btn {
}

.weight-update__header{
}

.weight-update_update-btn-arrow {
}

.slider-lable{
    width: 90%;
}



