.logo {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 34px;
}

header {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.weight-update {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}