.navigation {
    background-color: #000000a8;
    width: 100%;
    position: fixed;
    bottom: 28px;
   
}

.navigation__home,
.navigation__Workouts,
.navigation__Meals, 
.navigation__More,
.navigation__plus {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

// .navigation__plus:hover {

//     circle{
//         stroke:white;
//         transition: 0.3s;
//     }
//     path {
//         fill: white;
//         transition: 0.3s;
//     }
   
// }

.navigation__hidden-item-1{
    position: absolute;
    top: -117px;
    left: 70px;
}

more-button:hover {
    .navigation__plus {

        circle{
            stroke:white;
            transition: 0.3s;
        }
        path {
            fill: white;
            transition: 0.3s;
        }
       
    }
}

  



