body {
    background-color: black;
    font-family: 'Architects Daughter', cursive;
    font-family: 'Oswald', sans-serif;
    color: white;
    /* font-family: 'Archivo Black', sans-serif; */
}

h1 {
    font-size: 22px !important;
}

.header {
    color: #868686;

}

.weight-update {
    background-color: #1C1C1C;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    background-image: url(Images/vector-1.svg);
    background-repeat: no-repeat;
}

.weight-update__header{
    font-size:13px;
}

