.add-data {
}
.slider-lable {
}

#Journey-slide {

    .slick-list {
      }

    .slick-slide{
        width: 145px;
        height: 97px;

        .slider__box {
            width: 95% !important;

            .slide {

                .Journey-slide__text-1 {

                }

                .Journey-slide__text-2 {
                }

                .Journey-slide__text-3 {
                    
                }
            }
        }
    } 
}
  