.add-data {
    position: absolute;
    top: 570px;
    right: 21px;
    color:#868686;
    text-decoration: underline;
    font-size: 15px;
}
.slider-lable {
    color:#868686;
    font-size: 15px !important;
    padding-bottom: 8px;
    margin-top: 25px;
}

#Journey-slide {
    margin-top: 10px;

    .slick-list {
        padding-left: 17px !important;
      }

    .slick-slide{
        width: 145px;
        height: 97px;

        .slider__box {
            width: 95% !important;

            .slide {
                background-color: #1B1B1B;
                border-radius: 15px;
                margin-bottom: 10px;
                
            padding-left: 20px;
            padding-top: 15px;

                .Journey-slide__text-1 {

                }

                .Journey-slide__text-2 {
                    color: #3AFFB8;
                }

                .Journey-slide__text-3 {
                    
                }
            }
        }
    } 
}
  